/* LISTA DE SOCIETIES */
.societies-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* CARD */
.card {
    background: #fff;
    padding: 18px 20px;
    border-radius: 14px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
    transition: .2s;
}

.card:hover {
    transform: translateY(-2px);
}

/* TÍTULO */
.card strong {
    font-size: 18px;
    color: #07223c;
    display: block;
}

/* CIDADE / ESTADO */
.card small {
    font-size: 14px;
    color: #545f6b;
}

/* BOTÃO */
.btn-details {
    margin-top: 12px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #07223c;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.btn-details:hover {
    background: #05182e;
}